@font-face {
    font-family : 'texte';
    src: url(Comfortaa-Bold.ttf);
}

@font-face {
    font-family : 'texte2';
    src: url(Comfortaa-Light.ttf);
}

body {
    background-color:aliceblue;
}
#container
{
	margin: 0 30px;
	background-color: aliceblue;
}

#header
{
	background: #ccc;
	padding: 20px;
    border-radius:5px;
    text-align:center;
    background-color: lightblue;
    color:white;
    font-family:'texte';
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff; 
}

#navigation li a:hover { background: #383; }

#edito
{
	clear: left;
	padding: 25px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
    background-color: white;
    font-family : 'texte2';
    padding-top: 60px;
}

#edito h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
    font-family : 'texte';
    text-align:center;
    color:lightskyblue;
    padding-bottom: 30px;
    font-size: 50px;
}

#news
{	
	float: left;
	width: 30%;
	padding: 20px;
	margin: 10px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
    background-color: white;
    font-family : 'texte2';
    float:left;
    padding-bottom: 50px;
    
}

h3 {
    color:black;
    text-decoration: none;
}

#news h2 {
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
    font-family : 'texte';
    text-align:center;
    color:lightskyblue;
}

#footer
{
	clear: both;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
    background-color:aliceblue;
}
